<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
 
  <link rel="stylesheet" href="top_style.css">
  
</head>
<body>
    <header class="top-header">
            <%= image_tag("go-to-hoiku_rogo.png", class: :logo) %>
    </header>

<div class="top-main">
        <p class="breadth">
           <%= image_tag("mainimg.png", class: :top_photo) %>
        </p>   

        <div class="top-contentsText">
          <%= link_to image_tag("img11.png", class: :general ),{anchor: "user-login"}%>
          <%= link_to image_tag("img10.png", class: :enterprise ),childcare_users_path %>
        </div>

  <div class='item-contents'>
        <h2 class='title'>お仕事一覧</h2>
        <%= link_to '新規仕事依頼', new_work_path, class: "subtitle" %>
    <ul class='item-lists'>
   <% @works.each do |work| %>
      <li class='list'>
      <%= link_to work_path(work.id) do %>
      <div class='item-img-content'>
        <%= image_tag work.image, class: "item-img" if work.image.attached?%>
          <% if work.purchase.present? %>
          <div class='sold-out'>
            <span>募集終了</span>
          </div> 
       <% end %>
      </div>
      
      <div class='item-info'>
          <h3 class='item-name'>
        <%= work.work_title %>
          </h3>
          <div class='item-price'>
            <span><%= work.facility_name %><br><%= l work.recruiting_days %></span>
          </div>
      </div>
      <% end %>     
       </li>
   <% end %>

    <% if @works.empty?%>
      <li class='list'>
        <%= link_to  do %>
        <%= image_tag("img12.jpg", class: :item_img) %>
        <div class='item-info'>
          <h3 class='item-name'>
            夕方に子どもと一緒に遊びませんか？
          </h3>
          <div class='item-price'>
            <span>戸沢保育園<br>2月10日(水)</span>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>

       <div class='user-page'>
       <h2 id="user-login">一般ユーザーの方</h2>
          <ul class='lists-right'> 
                <% if user_signed_in? %>
                  <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>

                <% else %>

                  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
                  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <% end %>
    
          </ul>
       </div>
       <div class='childcare-user-page'>
       <h2 id="childcare-user-login">施設ユーザーの方</h2>
            <ul class='lists-right'> 
                 <% if childcare_user_signed_in?  %>
                   <li><%= link_to "ログアウト", destroy_childcare_user_session_path, method: :delete,  class: :nav__btn %></li>

                 <% else %> 

                  <li><%= link_to "ログイン", new_childcare_user_session_path, class: "login" %></li>
                  <li><%= link_to "新規登録", new_childcare_user_registration_path, class: "sign-up"%></li>
                <% end %>
              </ul>
       </div>
  </div>
</div>
      
        
<%= render "shared/second-footer"%>

</body>
</html>