<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <div class='item-img-content'>
      <%= image_tag @work.image,class:"item-box-img" %>
      <% if @work.purchase.present? %>
       <div class='sold-out'> 
         <span>募集終了</span> 
       </div> 
       <% end %>
    </div> 

    <h2 class="name">
      <%= @work.work_title %>
    </h2>

    <div class="item-price-box">
      <span class="item-price">
        <%= @work.facility_name %>
      </span>
      <span class="item-postage">
        <%= "#{@work.hourly_wage}円/時間" %>
      </span>
    </div>

    <div class="item-explain-box">
       <span><%= @work.recruiting_times %></span>
    </div>  
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">仕事内容</th>
          <td class="detail-value"><%= @work.job_description %></td>
        </tr>
        <tr>
          <th class="detail-item">募集人数</th>
          <td class="detail-value"><%= "#{@work.person}人" %></td>
        </tr>
        <tr>
          <th class="detail-item">募集日時</th>
          <td class="detail-value"><%= @work.recruiting_days %></td>
        </tr>
        <tr>
          <th class="detail-item">仕事時間</th>
          <td class="detail-value"><%= l @work.recruiting_times %></td>
        </tr>
        <tr>
          <th class="detail-item">￥時給</th>
          <td class="detail-value"><%= "#{@work.hourly_wage}円/時間" %></td>
        </tr>
      </tbody>
    </table>
    <h3 class='item-name'>
      <%= @work.facility_name %>の位置
    </h3>
    <%= render "works/map" %>
      
    <% if childcare_user_signed_in? && @work.childcare_user_id %>
      <%# <% if current_childcare_user.id == @work.user_id %> 
          <%= link_to '仕事の編集',edit_work_path(@work.id), method: :get, class: "item-red-btn" %>
          <p class='or-text'>or</p>
          <%= link_to '削除',work_path(@work.id), method: :delete, class:'item-destroy' %>

     <% elsif user_signed_in? %>
      <%= link_to '仕事を受ける', work_orders_path(@work.id), class:"item-red-btn"%>
     <% end  %>

  </div>
</div>

<%= render "shared/footer" %>
